
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BaseContent.cshtml";
}

<div style="margin:20px 0;">
    <a href="javascript:;" class="easyui-linkbutton" onclick="toggle()">Toggle</a>
</div>
@*class="easyui-sidemenu" data-options="data:data"*@
<div id="sm"></div>
<script type="text/javascript">
    var data = [];
    $(function () {
        $.post("/Menu/GetAllMenuListTree", "", function (result) {
            $("#sm").sidemenu({
                data: result,
                onSelect: function (item) {
                    AlertMsg(item.text);
                }
            });
        });
    });


    //function toggle() {
    //    var opts = $('#sm').sidemenu('options');
    //    $('#sm').sidemenu(opts.collapsed ? 'expand' : 'collapse');
    //    opts = $('#sm').sidemenu('options');
    //    $('#sm').sidemenu('resize', {
    //        width: opts.collapsed ? 60 : 200
    //    })
    //}
</script>
