@model IEnumerable<Zzh.Model.DB.Sys_User>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BaseContent.cshtml";
}

<table class="table table-striped" id="app">
    <caption>条纹表格</caption>
    <thead>
        <tr>
            <th>UID</th>
            <th>Name</th>
            <th>LoginName</th>
            <th>PassWord</th>
            <th>RoleId</th>
        </tr>
    </thead>
    <tbody v-for="row in rows">
        <tr>
            <td>
                {{row.Uid}}
            </td>
            <td>
                {{row.Name}}
            </td>
            <td>
                {{row.LoginName}}
            </td>
            <td>
                {{row.PassWord}}
            </td>
            <td>
                {{row.RoleName}}
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="5">
                总条数：{{total}}
            </td>
        </tr>
    </tfoot>
</table>
<script type="text/javascript">
    var vm = new Vue({
        el: "#app",
        data: {
            rows: "",
            total:0
        },
        mounted: function () {
            this.$nextTick(function () {
                this.$http.post('/VueJS/GetUserList').then(function (res) {
                    this.rows = res.body.rows;
                    this.total = res.body.total;
                })
            })
        },
    });
</script>
