@using Webdiyer.WebControls.Mvc;
@model PagedList<Zzh.Model.DB.Sys_User>


<table class="table table-bordered">
    <thead>
        <tr>
            <th>UID</th>
            <th>NAME</th>
            <th>LOGINNAME</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Uid</td>
                <td>@item.Name</td>
                <td>@item.LoginName</td>
            </tr>
        }
    </tbody>
</table>
<div class="text-center">
    @Ajax.Pager(Model, new PagerOptions
{
    PageIndexParameterName = "pageIndex",
    ContainerTagName = "ul",
    CssClass = "pagination",
    CurrentPagerItemTemplate = "<li class=\"active\"><a href=\"#\">{0}</a></li>",
    DisabledPagerItemTemplate = "<li class=\"disabled\"><a>{0}</a></li>",
    PagerItemTemplate = "<li>{0}</li>"
},new MvcAjaxOptions {  UpdateTargetId= "div_table",HttpMethod="Post",DataFormId= "searchForm", })
</div>