
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_BaseContent.cshtml";
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>

